body {
    font-family: Arial, sans-serif;
    background-color: #fe4141;
    margin: 0;
    padding: 0;
}

h1 {
    color: #000000;
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: #000000;
    text-align: center;
}

p {
    color: #000000;
    text-align: center;
}

hr {
    border: 1px solid #000000;
    margin: 20px auto;
    width: 80%;
}